 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {
     --primary--text--color: #143b58;
     --secondary-text-color: #577592;
     --accent-color: #2294ed;
     --accent-color-dark: #1d69a3;
     --pading-inline-section: 20px;
 }

 body {
     font-family: 'poppins', 'sans-serif';
     color: var(--primary--text--color);
 }

 h1 {
     font-size: 3rem;
 }

 h2 {
     font-size: 1.5rem;
 }

 p {

     font-family: 'Roboto', 'sans-serif';
     font-size: 1.25 rem;
     color: var(--secondary-text-color);
     line-height: 1.8rem;
 }

 a {
     text-decoration: none;
     display: inline-block;
 }

 ul {
     list-style: none;

 }

 .container {
     max-width: 1180px;
     margin-inline: auto;
     padding: var(--pading-inline-section);
     text-align: center;
     /* justify-content: center; */

 }

 .flex {
     display: flex;
     align-items: center;
 }

 .bdr{
    border: 2px solid rgb(241, 241, 241);
    color: blue;
    border-radius: 5px;
    padding: 7px;
    /* height: 3px; */
    
 }
 .clor{ 
    background-color: #1d69a3;
    color: white;
 }

 .hover-link {
     color: var(--primary--text--color);
     transition: 0.2s ease-out;
 }

 .hover-link:hover {
     color: var(--acent-color);
     cursor: pointer;
 }

 .primary {
     background-color: var(--accent-color);
     border: 2px solid blue;
     border-radius: 6px;
     font-weight: 700;
     color: white !important;
     padding: 12px 24px;
     box-shadow: 0 0 2px var(--secondary-text-color);
     transition: 0.2s ease-out;
 }

 .primary:hover {
     background-color: var(--accent-color-dark);

 }
 button{
    margin: 0;
padding: 18px;
height: 3px;
 }
 .secondary {
     border: 0.5 solid var(--secondary-text-color);
     border-radius: 6px;
     font-weight: 700;
     color: var(--primary--text--color);
     padding: 12px 24px;
     transition: 0.2s ease-out;
 }

 .secondary:hover {
     border-color: var(--accent-color);
     color: var(--accent-color) !important;
 }

 .top-banner {
     background-image: url('asset 32.png');
     background-color: #4fb3d4;
     background-size: 300px;

 }

 .banner-text {
     color: white;
     padding: 15px 30px;
     text-align: center;

 }

 .nav {
     margin-top: 20px;
     justify-content: space-between;
 }

 .companylogo img {
     width: 200px;
 }

 .nav-links {
     flex-basis: 730px;
 }

 .nav-links ul {
     justify-content: end;
     gap: 40px;
 }

 header {
     padding: 50px var(--pading-inline-section);

 }

 .header-section {
     justify-content: center;
     gap: 50px;

 }

 .header-left {
     max-width: 40vw;

 }

 .header-left h1 {
     margin-top: 20px;
 }

 .header-right img {
     width: 300px;
 }

 .get-started-button {
     margin: 20px;
 }



 .compaines-header {
     text-align: center;
     margin-block: 30px;
     color: var(--primary--text--color);
 }

 .logos {
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .logo {
     height: 46px;
 }



 .feature-section {
     padding: 80px var(--pading-inline-section) 0;
     background-image: url('asset 41.png');
     background-repeat: no-repeat;
     background-position: center;
 }

 .featuers-header,
 .example-header {
     text-align: center;
 }

 .featuers-header text {
     margin-bottom: 20px;
 }

 .featuers-area {
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 40px;
     margin-top: 20px;

 }

 .featuers-card {
    display: flex;
     flex-direction: column;
     gap: 20px;
     text-align: center;
     max-width: 30%;
 }
 .featuers-card img{
    width: 60px;
 }
 

 .big-feature-section {
     padding: 30px var(--pading-inline-section) 0;

 }

 .big-feature-container {
     gap: 30px;

 }

 .feature-img {
     width: 40vw;
 }

 .feature-description {
     flex-direction: column;
     align-items: flex-start;
 }


 .example-header {
     text-align: center;
     gap: 20px;
 }
 h4,h3 {
    margin:0 auto;
 }
 

 .example-area {
     justify-content: space-between;
     margin-block: 30px;
 }

 .examples-heading-text {
     margin-bottom: 20px;
 }

 .example-card {
     width: 23%;
     position: relative;
     min-height: 300px;
     background: black;
     background-image: linear-gradient(rgb(0, 0, 0, 0.8)), url('asset 36.jpeg');
     background-size: cover;
     transition: 0.2s ease-out;
 }

 .examples-card:hover {
     box-shadow: 0 0 10px #888;
 }

 .examples-card:nth-child(2) {
     background: linear-gradient(rgb(0, 0, 0, 0.8)), url('asset 38.svg');
     background-size: cover;

 }

 .examples-card:nth-child(3) {
     background: linear-gradient(rgb(0, 0, 0, 0.8)), url('asset 34.svg');
     background-size: cover;
 }

 .examples-area:nth-child(4) {
     background: linear-gradient(rgb(0, 0, 0, 0.8)), url('asset 39.svg');
     background-size: cover;
 }

 .card-text {
     position: absolute;
     bottom: 20px;
     left: 20px;
     right: 20px;

 }

 .cta-section-container {
     flex-direction: column;
     gap: 30px;
     color: white;
 }

 .cta-section {
     padding: 120px var(--pading-inline-section) 80px;
     background-color: #183b45;
 }


 .cta-section-container p{
color: white;
margin-top: 20px;

 }


 footer{
    padding-block: 8opx;
    background-color: #ebf2fa;
 }
 .link-colum{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
 }
 .footer-container{
    align-items: flex-start;
    justify-content: space-between;

 }
 .hvr{
    color: black;
 }
.hvr:hover{
 color: purple;
 text-decoration: underline;
 
}

.padi{
    padding: 0 44px;
}

 .subfooter{
    background-color: #b9cde4;
    padding: var(--pading-inline-section);

 }
 .subfooter-container{
    justify-content: center;
    gap: 30px;
 }
.hvri{
    color: black;
}
.hvri:hover{
    background: rgb(231, 243, 250);
    padding: 6px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: gainsboro;
    
}